[submodule "deps/migen"]
	path = deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "deps/litex"]
	path = deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "deps/litescope"]
	path = deps/litescope
	url = https://github.com/enjoy-digital/litescope
[submodule "deps/pyserial"]
	path = deps/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "deps/litedram"]
	path = deps/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "deps/lxsocdoc"]
	path = deps/lxsocdoc
	url = https://github.com/xobs/lxsocdoc.git
[submodule "fw/embedded-graphics"]
	path = fw/embedded-graphics
	url = https://github.com/betrusted-io/embedded-graphics.git
	branch = master
[submodule "deps/encrypt-bitstream-python"]
	path = deps/encrypt-bitstream-python
	url = https://github.com/betrusted-io/encrypt-bitstream-python.git
[submodule "deps/rom-locate"]
	path = deps/rom-locate
	url = https://github.com/betrusted-io/rom-locate.git
[submodule "deps/opentitan"]
	path = deps/opentitan
	url = https://github.com/betrusted-io/opentitan.git
[submodule "xous/xous-kernel"]
	path = xous/xous-kernel
	url = https://github.com/betrusted-io/xous-kernel.git
[submodule "xous/xous-stage1"]
	path = xous/xous-stage1
	url = https://github.com/betrusted-io/xous-stage1.git
[submodule "xous/xous-tools"]
	path = xous/xous-tools
	url = https://github.com/betrusted-io/xous-tools.git
[submodule "deps/gateware"]
	path = deps/gateware
	url = https://github.com/betrusted-io/gateware.git
	branch = master
[submodule "deps/valentyusb"]
	path = deps/valentyusb
	url = https://github.com/betrusted-io/valentyusb.git
	branch = fastclk
[submodule "deps/pythondata-cpu-vexriscv"]
	path = deps/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
