*~
/build/*
__pycache__/
/.Xil/*
/.idea/*
*.d
*.o
pycharm.env
*.bin
*.elf
*.jou
*.log
*.map
*.lst
run/
target/
/venv/*
/test/
/env/

# Spinal build directories
VexRiscv/project/
VexRiscv/target/
VexRiscv/.bloop/
VexRiscv/.bsp/
VexRiscv/.idea/
VexRiscv/.metals/
VexRiscv/.vscode/

.metals/
.env
.vscode/

# cross-validation target directory
deps/pio/cross-validation/target

# scripts with sensitive target information
boot/daric.sh
candidate/sync_s32.sh
xous-s32.sh

# files that shouldn't be checked into github
do_not_checkin/
